<footer class="my-20">
    <p class="text-center text-sm text-slate-500">
        Copyright © {new Date().getFullYear()} ambientesconarte.
    </p>
    <p class="text-center text-sm text-slate-500">GRUPO DON PEDRO DISEÑO, SL</p>
    <p class="text-center text-sm text-slate-500">B75991760</p>
    <p class="text-center font-bold text-sm text-slate-500">
        <a href="+34614509052" class="text-blue-600 hover:underline">
            +34 614 50 90 52
        </a>
    </p>
</footer>
