---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
    <div
        class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap"
    >
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"
        ></script><iframe
            src="https://cdn.lightwidget.com/widgets/4ec73c0d6975580b9be661298e8b5bb0.html"
            scrolling="no"
            allowtransparency="true"
            class="lightwidget-widget"
            style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</div>
