---
import whatsapplogo from "@/assets/whatsapp-logo.svg?url";
---

<a
    href="https://wa.me/5214441172042?text=hola%20como%20estas%3F%20me%20podr%C3%ADas%20dar%20informaci%C3%B3n"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Chat on WhatsApp"
    class="fixed bottom-5 right-5 w-14 h-14 bg-[#e0e0e0] text-white rounded-full shadow-lg z-50 flex items-center justify-center hover:scale-110 transition-transform duration-200"
>
    <img src={whatsapplogo} alt="whatsapp logo" class="w-7" loading="eager" />
</a>
