---
import { SEO } from "astro-seo";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
    title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
    "/opengraph-new.jpg",
    Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
    ? title + " | " + "Flor & Carpets MX"
    : "Papeles pintados personalizados de Ambientes con Arte";
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-P55TCX8P");
        </script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
        <SEO
            title={makeTitle}
            description="Papeles pintados personalizados para decorar tu hogar y oficina. Diseños únicos y calidad premium en Ambientes con Arte."
            canonical={canonicalURL}
            openGraph={{
                basic: {
                    url: canonicalURL,
                    type: "website",
                    title:
                        makeTitle ||
                        "Ambientes con Arte - Papeles Pintados Personalizados",
                    image: resolvedImageWithDomain,
                },
                image: {
                    alt: "Papeles pintados personalizados de Ambientes con Arte",
                },
            }}
        />
        <meta
            name="p:domain_verify"
            content="4ca93554aa77486283ecbcc4ed2bc7c0"
        />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-P55TCX8P"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <Navbar class="top-0 z-50 bg-white shadow" />
        <slot />
        <Footer />
        <style is:global>
            /* Improve Page speed */
            /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
            img {
                content-visibility: auto;
            }
        </style>
    </body>
</html>
